 
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
 
  :root{
      --primary-color:#FD6E0A;
      --bg:#FFF8F3
  }
  img{
      max-width: 100%;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body{
      font-family: 'Work Sans', sans-serif;
  }
  
  .container{
      max-width: 1440px;
      margin: 0 auto;
  }
  header{
      padding: 50px 0 ;
      background: rgba(255, 144, 14, 0.1);
  } 
  nav{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      align-items: center;
  }
  .logo{
      grid-column: 1 / 3;
  }
  .logo a{
      font-weight: 700;
  font-size: 45px;
  line-height: 53px; 
  
  text-align: center; 
  color: #131313;
      text-decoration: none;
  }
  .menu{
      grid-column: 3 / 6;
      display: flex;
      justify-content: flex-end;
  }
  .menu ul{
      list-style: none;
      display: flex;
      align-items: center;
  }
  .menu ul li{}
  .menu ul li a{
      font-weight: 500;
  font-size: 18px;
  line-height: 26px; 
  text-align: center; 
  color: #424242;
      padding: 10px 15px;
      text-decoration: none;
  }
  .menu ul li a:hover{}
  
  main{
      padding: 20px 0;
  } 
  .heroBanner{
      text-align: center;
      padding: 100px 0 0; 
  }
  .bannerContent{
      margin: 0 auto;
      max-width: 870px;
  }
  .bannerContent h1{
    font-weight: 700;
font-size: 64px;
line-height: 75px;
text-align: center; 
color: #131313;
  }
  .bannerContent p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px; 
    text-align: center; 
    color: #727272;
    margin: 30px 0;
  }
  .btn{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 20px 25px;
    display: inline-block;
    text-decoration: none;    
  }
.heroBanner img{
      margin-top: 40px;
}

.featuresSection{
    padding: 50px 0;
}
  .featuresSection .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .featureImage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
  .featureImage img{
    display: block;
    width: 100%;
}
  .featureContent{
    padding: 70px;
}
  .featureContent h2{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
    max-width: 400px;
  }
  .featureContent h2 strong{ 
color: #131313;
  }
  .featureContent h2 span{ 
color: #FF900E;
  }

  .featureContent p{
    font-weight: 400;
font-size: 16px;
line-height: 26px; 
color: #727272;
margin: 24px 0;
  }


  .loveenjoySection{
    padding: 50px 0;
  }
  .loveenjoySection .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
  .featuresContent{
    padding-right: 140px;
  } 
  .featuresContent .title{
    border-left: 5px #FF900E solid;
    max-width: 450px;
    margin-bottom: 20px;
  }
  .featuresContent .title h2{
    font-weight: 700;
font-size: 45px;
line-height: 53px; 
color: #131313;
padding-left: 20px;
  }
  .featuresContent   p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px; 
    color: #727272; 
  }
  .featuresContent .list  {
    padding: 30px;
margin: 20px 0;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;

  }
  .featuresContent .list  h3{
    font-weight: 600;
font-size: 20px;
line-height: 23px; 
color: #131313;
  }
  .featuresContent .list p{
    font-weight: 400;
font-size: 16px;
line-height: 26px; 
color: #727272;

  }
  .featuresImage{
    position: relative;
  }
  .featuresImage img{}
  .featuresImage .number{
    background: #FF900E;
    border-radius: 8px;
    max-width: 350px;
    text-align: center;
    padding: 40px;
    position: absolute;
    bottom: -60px;
    left: -90px;
  }
  .featuresImage .number h2{
    font-weight: 700;
font-size: 65px;
line-height: 70px; 

color: #FFFFFF;
  }
  .featuresImage .number span{
    font-weight: 500;
font-size: 25px;
line-height: 40px; 
color: #FFFFFF;

  }

  .header{padding-top: 100px;}
  .header .container{
    max-width: 550px;
    text-align: center;
}
  .header h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
/* identical to box height */


/* Dark 01 */
    color: #131313;
    margin-bottom: 20px;
}
  .header p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
/* or 162% */


/* Dark 03 */
    color: #727272;
}
  .serviceSection{
    /* padding: 50px; */
}
  .serviceSection .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 8%;
    padding: 50px;
  }
  .serviceBox{
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 45px 20px;
    text-align: center;
}
  .serviceBox img{
    height: 45px;
}
  .serviceBox h3{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px; 
    text-align: center; 
    color: #424242;
    margin: 10px 0;
}
  .serviceBox p{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px; 
    color: #727272;
}

.sponsporsSection{}
.sponsporsSection .container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    justify-items: center;
    gap: 20px;
    padding: 40px 0;
}
.sponsporsSection img{
    filter: grayscale(1);
}
footer{
  padding: 100px 0;
}
footer .container{
  background: #FFF4E7;
border-radius: 8px;
padding: 40px 20px;
}
footer p{
  font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center; 
color: #424242;
}